<div class="col-md-3">
    <div id="form-box">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.text)}}
            {{ form_widget(form.text)}}
            {{ form_errors(form.text) }}
        </div>


        <div class="input-rating">
            <span>Your rating</span>
            {{ form_widget(form.rating) }}
        </div>

        {{ form_widget(form.product, {'value' : id})}}

        {{ form_widget(form.submit)}}

        {{ form_end(form)}}
    </div>
</div>

<style>
    .stars label:before {
        content: "\f006";
        font-family: FontAwesome, serif;
        color: #E4E7ED;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
    .stars {
        display: inline-block;
        vertical-align: top;
    }
    .stars>label {
        float: right;
        cursor: pointer;
        padding: 0px 3px;
        margin: 0px;
    }
    .stars>label:hover:before,.stars>label:hover~label:before {
        color: #D10024;
    }
    .stars>input:checked label:before, .stars>input:checked~label:before {
        content: "\f005";
        color: #D10024;
    }
</style>

<script>
    const inputs = document.querySelectorAll('.input-rating input');
    const labels = document.querySelectorAll('.input-rating label');
    const st = document.querySelector('.input-rating > div');
    st.classList.add('stars');
    inputs.forEach( (item,i,arr) => {
        if(i == 0)
            item.checked = true;
        item.style.display = 'none';
    })
    labels.forEach(item => {
        item.innerText = '';
    });
</script>